nav {
  background-color: #00008b;
  overflow: hidden;
}

nav ul {
  list-style-type: none;
  margin: 0em;
  padding: 0em;
  position: relative;
  left: 50%;
  float: left;
}

nav ul li {
  float: left;
  position: relative;
  right: 50%;
  display: block;
}

nav ul li a {
  display: block;
  padding: 1em 2em;
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #000;
}

header {
  text-align: center;
}

p, h1, h2, h3 {
  padding: 0px 10px;
}

#delta-body {
  background-color: #000;
  color: #fff;
}

#delta-body h1 {
  font-family: 'VT323', monospace;
  font-size: 80px;
}

#delta-body h2 {
  font-family: 'VT323', monospace;
  font-size: 60px;
}

#delta-body h3 {
  font-family: 'VT323', monospace;
  font-size: 40px;
}

#deltarune-banner {
  height: 300px;
  width: 100%;
}

#delta-video {
  padding: 0px 0px 0px 50px;
}

#pet-body {
 background-color: #96b9d0;
}

.pet-div{
  float: left;
  width: 100%
}

.double-pet-images {
  float: right;
  width: 82%;
  display: block;
}

.single-pet-image {
  float: right;
  width: 67%;
}

#pet-body img {
  padding: 1em 3em;
}

#pet-body h2 {
  text-align: center;
}

#pet-body p {
  text-align: center;
}

.section {
  border: 5px solid black;
  margin: 1em 2.5em;
  background-color: #fff;
}

#main-body {
  background-color: #dedede;
}

#main-body img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#main-body p {
  font-family: 'verdana', sans-serif;
}

#main-body ul {
  font-family: 'verdana', sans-serif;
}

.resume-list li {
  padding: 0em 0em 1em 0em;
}

#map {
  width: 1000px;
  height: 600px;
  margin: 40px auto;
  border: 20px solid #949494;
}

#map-html{
  height: 100%;
  margin: 0;
  padding: 0;
}
	  
#map-body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #d3d3d3;
}

.slideshow {
	max-width: 475px;
	margin: auto;
}

.slideshow ul {
	margin:0;
}

@media screen and (min-width: 800px) {
  #delta-body h2 {
    text-align: center;
  }
  
  #delta-body h3 {
    text-align: center;
  }
  
  #delta-video {
    text-align: center;
  }
  
  #delta-body h2 {
    padding: 5px 10px 0px 10px;
    border-style: solid;
    border-width: 5px 0px 0px 0px;
    border-color: #00008b;
  }
  
  #deltarune-banner {
    height: 400px;
  }
  
  #delta-body p {
    padding: 0 5%;
  }
}

@media screen and (min-width: 1200px) {
  
  #delta-body h2 {
    margin: 40px 10%;
  }
  
  #deltarune-banner {
    height: 500px;
  }
  
  #delta-body p {
    padding: 0 15%;
  }
  
  #delta-body h1 {
    font-size: 120px;
    margin: 0px;
  }
  
  #delta-video {
    margin: 50px;
  }
}