nav {
  background-color: #00008b;
  overflow: hidden;
}

nav ul {
  list-style-type: none;
  margin: 0em;
  padding: 0em;
  position: relative;
  left: 50%;
  float: left;
}

nav ul li {
  float: left;
  position: relative;
  right: 50%;
  display: block;
}

nav ul li a {
  display: block;
  padding: 1em 2em;
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #000;
}

header {
  text-align: center;
}

p, h1, h2, h3 {
  padding: 0px 10px;
}

#delta-body {
  background-color: #000;
  color: #fff;
}

#delta-body h1 {
  font-family: 'VT323', monospace;
  font-size: 80px;
}

#delta-body h2 {
  font-family: 'VT323', monospace;
  font-size: 60px;
}

#delta-body h3 {
  font-family: 'VT323', monospace;
  font-size: 40px;
}

#deltarune-banner {
  height: 300px;
  width: 100%;
}

#delta-video {
  padding: 0px 0px 0px 50px;
}